ConnectionStrings__DefaultConnection=Host=postgres;Database=canon_services_support;Username=canon_sesu_user;Password=
ApiKey=
Aws__Region=eu-central-1
Aws__AccessKeyId=
Aws__SecretAccessKey=
Email__FromAddress=noreply@services-support.cz
Email__FromName=Canon CZ s.r.o.
Email__ReplyToAddress=servis@services-support.cz
Email__UserPortalBaseUrl=https://sesu.services-support.cz
Email__DryRun=false
Email__OverrideRecipient=
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080
